body {
}

h1, h2, h3 {
    color: #008033;
}

#nav-header {
    border-top: 0 !important;
}

ol {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding-left: 40px;
}

ol li {
    margin: 0 0 1em 1em;
    counter-increment: my-awesome-counter;
    position: relative;
}

ol li::before {
    content: counter(my-awesome-counter);
    color: #008033;
    font-size: 1em;
    font-weight: bold;
    position: absolute;
    --size: 40px;
    --width: 4px;
    left: calc(-1.5 * var(--size));
    line-height: calc(var(--size) - var(--width) * 2);
    width: var(--size);
    height: var(--size);
    top: 0.5em;
    border-radius: 50%;
    text-align: center;
    border-radius: 50%;
    border-width: var(--width);
    border-style: solid;
    font-weight: 800;
}

@media screen and (min-width: 400px) {
    body   {
      font-size: 0.9em;
    }
  
    ol {
        max-width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    body   {
      font-size: 1.1em;
    }
  
    ol {
        max-width: 50%;
    }
}