---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <header id="nav-header" class="border-dark border-left-0 border-right-0">
      <div id="spec-header" class="container position-relative d-flex justify-content-between align-items-center">
        <a class="h3 m-0 text-dark" href="{{ page_url }}"><strong>{{ page.title | escape }}</strong><br/>version {{ page.version }}</a>

        <div id="spec-logo" class="text-right navbar-light">
          <a href="{{ '/' | relative_url }}" title="project home page"><img src="{{ 'img/codecheck_logo.svg' | relative_url }}" title="CODECHECK logo" /></a>
        </div>
      </div>
    </header>

    <main aria-label="Content">
      <div class="container">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

    {% include anchors.html %}

  </body>

</html>
